[mysqld]
# Point to the SSL certificate files baked into the image
ssl-ca = /etc/mysql/certs/ca.pem
ssl-cert = /etc/mysql/certs/server-cert.pem
ssl-key = /etc/mysql/certs/server-key.pem

# Force FIPS-compliant TLS protocols
tls_version = TLSv1.2,TLSv1.3

# Use a minimal, FIPS-compliant list of ciphers
tls_ciphersuites = TLS_AES_256_GCM_SHA384:TLS_AES_128_GCM_SHA256
ssl_cipher = ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256

# Enforce encrypted connections
require_secure_transport=ON

# Enable MySQL's internal FIPS mode
ssl_fips_mode=STRICT
