<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>WEB-INF/tomcat-web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>

    <Manager pathname="SESSIONS.ser" />

    <Resource
        name="jdbc/LiferayPool"
        auth="Container"
        type="javax.sql.DataSource"
        factory="org.apache.tomcat.jdbc.pool.DataSourceFactory"
        driverClassName="com.mysql.cj.jdbc.Driver"
        url="jdbc:mysql://database:3306/lportal?useUnicode=true&amp;characterEncoding=UTF-8&amp;sslMode=VERIFY_CA&amp;enabledTLSProtocols=TLSv1.2"
        username="${jndi.db.username}"
        password="${jndi.db.password}"
        maxActive="100"
        maxIdle="30"
        maxWait="10000"
        testOnBorrow="true"
        validationQuery="SELECT 1"
        removeAbandoned="true"
        removeAbandonedTimeout="60"
        jdbcInterceptors="org.apache.tomcat.jdbc.pool.interceptor.ConnectionState;org.apache.tomcat.jdbc.pool.interceptor.StatementFinalizer" />
</Context>
